.custom-flex-container {
    display: flex;
    flex-wrap: wrap;
}
.custom-card {
    min-width: 45rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    min-height: '250px';
}